.All-emoty-btn {
    display: flex;
    justify-content: space-evenly;
  }
  img.product-img.side-bar-imgs {
    width:9rem;
    height:9rem;
    object-fit:cover;     
    margin: 0 auto;
    border-radius: 1rem ;
}
.products-lists {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-content: center;
}
.product-name{
  color:#0D6EFD ;
}
img.product-img {
    height:90%;
     width:90%;
    object-fit:cover;
    border-radius:1rem;
}