body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-link {
  color: white !important; /* Text color white */
  font-weight: 600 !important; /* Font weight 600 */
  font-size: 1.5rem !important; /* Font size 1.5rem */
  text-decoration: none; /* Remove underline for links */
}

.custom-link:hover {
  color: #f0f0f0 !important; /* Slightly lighter color on hover */
}

